body{
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	line-height: 40px;


}



} 

h1,h2{
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

#pic1{
	width: 600px;
	height:570px;
	object-fit: cover;
	border-radius: 50%;
	border: 20px solid white;
	margin:50px;
}

#pic2{
	width: 500px;
}



header{
	text-align: center;
	padding-top:50px;
	padding-bottom: 50px;
	width: 3200px;
	height: 750px;
	background-image: url("img/horsediane1.jpg")



}



header h1{
	color: #6f7c29;
	font-size: 50px;
	  top: -125px;



}

main{
	max-width:1200px;
	margin:0 auto;
	padding:0 40px;

}

footer{
	text-align: center;
	background-color: #001f4e;
	color:white;
	padding:30px;
}
footer p{
	margin:0;
}
h2{
	font-size: 35px;
	color:#6f7c29;
	margin:40px 0 10px;

}

a{
	color:#6f7c29;
}
a:hover{
	background-color:#001f4e;
	color:white;
}

footer a{
	color:white;
}


footer a:hover{
	opacity:.20;
	background-color:#001f4e;
}

p.caption{
	color:#999999;
	font-style: italic;
	margin-top: 0;
}

ul{    list-style-position: inside;

}

ol { list-style-position: inside;}